<!-- main app container -->
<div class="jumbotron">
    <div class="container">

        <div class="col-sm-8 col-sm-offset-2">
            <div class="text-center" id="logo">
                <img src="http://teamplan.jonathan-farrell.com/assets/logo.png"/>
            </div>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center" id="credits">
    <p>
        Copyright &copy; 2017 My Team Pal. All Rights Reserved.<br/>
        <a href="http://myteampal.com" target="_top">MyTeamPal.com</a>
    </p>
</div>